[MASTER]

load-plugins = pylint_django

# Files / folders to ignore
ignore = migrations, venv

[MESSAGES CONTROL]
# disable refactor + convention messages (R, C) in CI to focus on
# real problems. Also disable a few Django-specific false positives.
disable =
    C,
    R,
    # Django ORM: "Model has no 'objects' member" etc.
    E1101,
    # Unused imports / args
    W0611,
    W0613,
    E5110,  # django-not-configured
    E5142   # imported-auth-user

[FORMAT]

max-line-length = 100

[REPORTS]

reports = no
